.sidebar.animated.fadeInDown
  .logo-title
    .title
      img(src= url_for('images/logo@2x.png'),style="width:127px;")
      h3(title="", style="margin-top: 10px")
        a(href="/")= config.title
      if theme.description
        .description
          p= theme.description

  ul.social-links
    if theme.twitter
      li
        a(href="https://twitter.com/" + theme.twitter)
          i.fa-brands.fa-twitter
    if theme.instagram
      li
        a(href="http://instagram.com/" + theme.instagram)
          i.fa-brands.fa-instagram
    if theme.rss
      li
        a(href= url_for(theme.rss))
          i.fa-solid.fa-rss
    if theme.weibo
      li
        a(href="http://weibo.com/" + theme.weibo)
          i.fa-brands.fa-weibo
    if theme.facebook
      li
        a(href="http://facebook.com/" + theme.facebook)
          i.fa-brands.fa-facebook
    if theme.github
      li
        a(href="http://github.com/" + theme.github)
          i.fa-brands.fa-github

  div(style="width:100%")
    .toggle-switch(id="toggle-switch")
      label
        input(type="checkbox",style="position: absolute;display: none;",checked,id='toggler',onchange=`(function(){
          let html = document.getElementsByTagName('html')[0];
          let frame = document.getElementsByTagName('iframe')[0];
          if (html.id !== 'dark-mode') {
            html.id = 'dark-mode';
            window.location.hash = "#dark";
            if (frame) {
              frame.contentWindow.postMessage({type:"set-theme", theme:"github-dark"}, "*");
            }
          } else {
            html.id = '';
            window.location.hash="";
            if (frame) {
              frame.contentWindow.postMessage({type:"set-theme", theme:"github-light"}, "*");
            }
          }
        })()`)
        span.slider
  include footer
